
@import "fonts.css";

/* Color Scheme */
:root {

  /* Scheme 1 */
  --magenta: #ff124f;
  --pink: #ff00a0;
  --lightpink: #fe75fe;
  --purple: #942ff1;
  --darkpurple: #120458;

  /* Scheme 2 */
  --glacier: #d1f7ff;
  --lightblue: #05d9e8;
  --navyblue: #005678;
  --darkblue: #01012b;
}

*{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'PT Mono', monospace;
  scroll-behavior: smooth;
}